<app-header>Loading......</app-header>
<div class="container mt-5">
  <app-body>Loading......</app-body>
</div>

<ul>
  <li>Nombre: {{nombre}}</li>
  <li>Apellido: {{apellido}}</li>
</ul>
<app-footer></app-footer>



