<h2>Body</h2>
<!-- <button type="button" class="btn btn-primary" (click)="restar()">
  -
</button> -->
<button type="button" class="btn btn-primary" (click)="acumular(-base)">
  -
</button>
<!-- <button type="button" class="btn btn-primary" (click)="numero = numero - 1">
  -
</button> -->
<span>{{ numero }}</span>
<!-- <button type="button" class="btn btn-primary" (click)="numero = numero + 1">
  +
</button> -->
<button type="button" class="btn btn-primary" (click)="acumular(+base)">
  +
</button>
<!-- <button type="button" class="btn btn-primary" (click)="sumar()">
  +
</button> -->
